<h2> Sign Up </h2>

    <%= form_for @user do |f| %>
      <% f.label :email %>
      <% f.email_field :email %>

      <% f.label :username %>
      <% f.email_field :username %>

      <% f.label :password %>
      <% f.email_field :password %>

      <% f.label :password_confirmation %>
      <% f.email_field :password_confirmation %>

      <%= f.submit %>
      <% end %>